main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
    max-height: 100vh;
    overflow-y: scroll;
  }

ion-toolbar{
    --background: #E3D081 !important;
    color: #54494B;
}

  
  option {
    text-transform: capitalize;
  }
  p {
    color: #E3D081;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    font-size: 12px;
  }
  
  .cont-p {
    height: 22px;
    margin-bottom: 0px;
  }
  
  /* Estilo principal para el contenedor del formulario */
  .form-container {
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para cada grupo del formulario */
  .form-group {
    margin-bottom: 0px;
  }
  
  /* Estilo para las etiquetas */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(143, 135, 135);
    margin-top: 10px;
  }
  
  /* Estilo para los inputs */
//   input[type="text"],
//   input[type="number"],
//   select {
//     width: 100%;
//     padding: 8px;
//     font-size: 1rem;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     box-sizing: border-box;
//   }
  
  /* Estilo para el botón de envío */
//   ion-button {
//     width: 100%;
//     color: #000000;
//     font-size: 1rem;
//     border-radius: 4px;
//     text-align: center;
//     margin-top: 10px;
//     font-weight: 700;
//     --background: #E3D081 !important;
//   }
  
  .cont-btns {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
  }
  


  // INPUT LOGIN
    .login__field {
        padding: 8px 0px;	
        position: relative;	
        display: flex;
        justify-content: center;
    }

    .login__input {
        border: none;
        border-bottom: 2px solid #D1A5AB;
        background: none;
        padding: 10px;
        padding-left: 24px;
        font-weight: 700;
        width: 75%;
        transition: .2s;
        color: #F1F7ED; /* Texto en un tono burdeos oscuro */
    }

    .login__input:active,
    .login__input:focus,
    .login__input:hover {
        outline: none;
        border-bottom-color: #F1F7ED; /* Color de foco */
    }

    input::placeholder{
        color: rgb(143, 135, 135);
    }

    .content-select{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    select {
        width: 50%;
        padding: 8px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: transparent;
        color: white !important;
      }

      select option {
        background-color: transparent; /* Algunos navegadores aplicarán esto */
        color: #333; /* Cambia el color del texto en las opciones */
      }

      .load{
        width: 100%;
        color: #000000;
        font-size: 1rem;
        border-radius: 4px;
        text-align: center;
        margin-top: 10px;
        font-weight: 700;
        --background: #E3D081 !important;
        margin-bottom: 12px;
      }

      .btn-top{
        width: 100%;
        --background: #91C7B1 !important;
        font-size: 12px;
        color: #000000 !important;
      }

      ion-icon{
        margin-left: 10px;
      }