ion-content {
  --background: none;
  background-image: url('/assets/background.png'); /* Ruta a la imagen en la carpeta src/assets */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */

}

main {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

form {
  width: 90%;
  min-height: 100vh;
  max-height: 100vh;
  color: #ffffff;
}

label {
  font-weight: bold;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type="range"] {
  width: 100%;
  accent-color: #e3d081;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #e3d081;
  width: 20px;
  height: 20px;
}

select,
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 0;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ion-toolbar {
  --background: #e3d081 !important;
  color: #54494b;
}

.div-radios,
.div-cheks {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
div {
  box-sizing: border-box;
}

.load {
  width: 100%;
  color: #000000;
  font-size: 1rem;
  border-radius: 4px;
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
  --background: #e3d081 !important;
  margin-bottom: 12px;
}

p {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
}

ion-range {
  --bar-background: #54494b;
  --bar-background-active: #e3d081;
  --bar-height: 8px;
  --bar-border-radius: 8px;
  --knob-background: #eeffc8;
  --knob-size: 40px;
  --pin-background: #ecffaf;
  --pin-color: #fff;
}

@media (max-height: 670px) {
  label,
  p {
    font-size: 1rem;
  }
  input[type="radio"],
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
  select,
  input[type="text"] {
    height: 38px;
    margin: 0;
  }
  .div-rdo-chek {
    height: 50px;
  }
}

ion-icon {
  margin-left: 10px;
}
.btn-top {
  --background: #91c7b1 !important;
  font-size: 12px;
  color: #000000 !important;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
