main {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

form {
  padding-top: 30px;
  width: 90%;
  min-height: 100vh;
  max-height: 100vh;
  color: #ffffff;
}

label {
  font-weight: bold;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type="range"] {
  width: 100%;
  accent-color: #e3d081;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #e3d081;
  width: 20px;
  height: 20px;
}

select,
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 0;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ion-toolbar {
  --background: #e3d081 !important;
  color: #54494b;
}

.div-radios,
.div-cheks {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.load {
  width: 100%;
  color: #000000;
  font-size: 1rem;
  border-radius: 4px;
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
  --background: #e3d081 !important;
  margin-bottom: 12px;
}

p {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
}

@media (max-height: 670px) {
  label,
  p {
    font-size: 1rem;
  }
  input[type="radio"],
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
  select,
  input[type="text"] {
    height: 38px;
    margin: 0;
  }
  form {
    padding-top: 10px;
  }
}
