<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Encuesta cliente</ion-title>
  </ion-toolbar>
</ion-header>

<main>
  <!-- <ion-button (click)="sacar_foto()"> Subir imagen </ion-button> -->
  <form>
    <div class="ion-margin-bottom">
      <label for="overallSatisfaction"
        >¿Qué tan satisfecho estuvo con su experiencia?</label
      >
      <input
        type="range"
        id="overallSatisfaction"
        name="overallSatisfaction"
        min="1"
        max="5"
      />
    </div>
    <br />
    <div class="ion-margin-bottom">
      <p>¿Cómo describiría el ambiente del restaurante?</p>
      <div class="div-radios">
        <div>
          <input
            type="radio"
            id="ambientCalm"
            name="environment"
            value="Tranquilo"
            checked
          />
          <label for="ambientCalm">Tranquilo</label><br />
        </div>
        <div>
          <input
            type="radio"
            id="ambientLively"
            name="environment"
            value="Animado"
          />
          <label for="ambientLively">Animado</label><br />
        </div>
        <div>
          <input
            type="radio"
            id="ambientNoisy"
            name="environment"
            value="Ruidoso"
          />
          <label for="ambientNoisy">Ruidoso</label>
        </div>
      </div>
    </div>

    <div class="ion-margin-bottom">
      <p>¿Qué es lo que más le gusto del restaurante?</p>
      <div class="div-cheks">
        <div>
          <input
            type="checkbox"
            id="cleanDiningArea"
            name="cleanliness"
            value="Atención"
          />
          <label for="cleanDiningArea">La Atención</label><br />
        </div>
        <div>
          <input
            type="checkbox"
            id="cleanRestrooms"
            name="cleanliness"
            value="Baños"
            checked
          />
          <label for="cleanRestrooms">Los Baños</label><br />
        </div>
        <div>
          <input
            type="checkbox"
            id="cleanTables"
            name="cleanliness"
            value="Mesas"
          />
          <label for="cleanTables">Las Mesas</label>
        </div>
      </div>
    </div>

    <div class="ion-margin-bottom">
      <label for="visitFrequency"
        >¿Con qué frecuencia visita el restaurante?</label
      >
      <select id="visitFrequency" name="visitFrequency">
        <option value="Primera_vez">Primera vez</option>
        <option value="Semanalmente">Semanalmente</option>
        <option value="Mensualmente">Mensualmente</option>
        <option value="Rara_vez">Rara vez</option>
      </select>
    </div>

    <div>
      <label for="comments">Comentarios adicionales</label>
      <input
        type="text"
        id="comments"
        name="comments"
        placeholder="Ingrese sus comentarios..."
      />
    </div>

    <ion-button type="submit" class="load"> Enviar Encuesta </ion-button>
  </form>
</main>
