<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title class="ion-text-center">Metre</ion-title>
  </ion-toolbar>
</ion-header>


@if (customer == null) {
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="dark">
        <img src="/assets/menu.png"/>
    </ion-fab-button>
    <ion-fab-list side="bottom">

        <ion-fab-button (click)="this.userService.logout()" style="border: 1px solid #000; border-radius: 50%">
            <img src="/assets/exit.png"/>
        </ion-fab-button>
        
    </ion-fab-list>
  </ion-fab>

  <body>
    <div class="content" style="margin-top: 80px;">
      @if (listUsersWaiting.length > 0) {
        <h2 class="mb-3" style="text-align: center; margin-top: 2.5rem; text-shadow: 1px 1px #000; color: white; margin-bottom: 20px;">
          LISTA DE ESPERA
        </h2>
        
          @for (item of listUsersWaiting; track $index) {
            <ion-card style="border: 4px double rgb(65, 151, 167); border-radius: 30px" class="tarjeta-usuario">
              <div class="usuario-container" >
                  <!-- Imagen a la izquierda -->
                  <img style="
                width: 6.2rem;
                height: 6.2rem;
                object-fit: cover;
                border: 4px solid rgb(180, 6, 6);
                border-radius: 10px;
              " src="{{item.foto_url}}" />
  
                  <!-- Datos a la derecha -->
                  <div class="usuario-detalles">
                      <ion-card-header >
                        <ion-card-subtitle> {{item.cliente}}</ion-card-subtitle>
                        <button (click)="setTable({cliente: item.cliente, id_cliente: item.id_cliente}, item.id)" class="button-personalizado"> Asignar </button>
                      </ion-card-header>
                  </div>
              </div>
          </ion-card>
          }    
      }@else {
        <h2 class="titulo-lista" style="margin-top: 17rem;">No hay clientes por asignar</h2>
      }
      
        

    </div>
  </body>
}
@else {
  <body style="overflow-y: auto;">
    <div class="content">
      <ion-icon class="icon" name="arrow-back-circle-outline" (click)="goBack()"></ion-icon>
      <div class="customer-header">
        <div class="customer-content-title">
          <h1 class="customer-name">- Cliente - <br> {{customer.cliente}}</h1>
        </div>
      </div>

      @if (listTables.length > 0) {
        @for (item of listTables; track $index) {
          @if (item.estado == 'libre') {
            <ion-card style="border: 4px double rgb(65, 151, 167); border-radius: 30px" class="tarjeta-usuario">
              <div class="usuario-container" >
                  <div class="usuario-detalles">
                      <ion-card-header >
                        <ion-card-subtitle> Mesa: {{item.numero}}</ion-card-subtitle>
                        <ion-card-subtitle> Tipo: {{item.tipo}}</ion-card-subtitle>
                        <ion-card-subtitle> Cantidad comensales: {{item.cantidadComensales}} </ion-card-subtitle>
                        <ion-card-subtitle> Estado: {{item.estado}} </ion-card-subtitle>
                        <button (click)="saveTable(item)" class="button-personalizado"> Asignar </button>
                      </ion-card-header>
                  </div>
              </div>
          </ion-card>
          }
  
        }   
      }@else {
        <h2 class="titulo-lista" style="margin-top: 17rem;">No hay mesas disponibles</h2>
      }










    </div>
  </body>

}
<app-spinner [isLoading]="isLoading"></app-spinner>