ion-content {
  --background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  max-height: 80vh;
  padding: 5vh 2vw; /* Añadido padding para separarlo de los bordes en pantallas pequeñas */
}

/* Animación de deslizamiento */
.slide-in-bck-center {
  animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bck-center {
  0% {
      transform: translateZ(600px);
      opacity: 0;
  }
  100% {
      transform: translateZ(0);
      opacity: 1;
  }
}

/* Imagen */
img {
  max-height: 33vh;
  width: auto;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 1.4s;
  animation-fill-mode: both;
}

/* Header y Footer */
.header, .footer {
  font-weight: bold;
  color: white;
  text-shadow: 0 3px 10px #000000;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 1.4s;
  animation-fill-mode: both;
}

/* Estilos específicos para header */
.header {
  font-size: 10vw;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

/* Estilos específicos para footer */
.footer {
  font-size: 15vw;
  margin-bottom: 10vh;
}


/* Ajustes para pantallas muy pequeñas */
/*PANTALLA LAUTARO 338 X 510 APROX*/
@media (max-height: 600px) {
  .header {
      font-size: 6vw;
  }
  .footer {
      font-size: 10vw;
  }
  img {
      max-height: 40vh;
  }
}
