main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 100%;
}
h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 3rem;
}

canvas {
  max-width: 100%;
}
ion-toolbar {
  --background: #e3d081 !important;
  color: #54494b;
}
