<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title *ngIf="this.userRol == 'bartender'" class="ion-text-center">Bartender</ion-title>
    <ion-title *ngIf="this.userRol == 'cocinero'" class="ion-text-center">Cocinero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button color="dark">
    <img src="/assets/menu.png" />
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button (click)="this.userService.logout()" style="border: 1px solid #000; border-radius: 50%">
      <img src="/assets/exit.png" />
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content>
  <div class="pedidos-container" *ngIf="pedidosFiltrados.length > 0">
    <h2 class="titulo-lista">PEDIDOS EN PREPARACIÓN</h2>
    <!-- Iterar sobre cada pedido en la lista filtrada -->
    <div *ngFor="let pedido of pedidosFiltrados">
      <ion-card class="tarjeta-pedido">
        <!-- Información del pedido -->
        <div class="pedido-detalles">
          <div class="pedido-info">
            <p class="mesa">Mesa: {{pedido.nroMesa}}</p>
            <table class="pedido-tabla">
              <tr>
                <th>PRODUCTO</th>
                <!-- <th>ESTADO</th> -->
                <th>ELABORACIÓN</th>
                <th>ACCIÓN</th>
              </tr>
              <tr *ngFor="let producto of pedido.listaProductos">
                <td>{{producto.nombre}}</td>
                <!-- <td>{{producto.estado}}</td> -->
                <td>🕒 {{producto.tiempoPreparacion}} mins</td>
                <td>
                  <button 
                  class="boton-aprobar" 
                  (click)="updateProductStatus(pedido, producto.nombre)"
                  [disabled]="producto.estado === 'preparado'"
                >
                  Terminar
                </button>
                
                </td>
              </tr>
              
            </table>
          </div>
        </div>
      </ion-card>
    </div>
  </div>

  <div *ngIf="!this.tieneProductosEnPreparacion() && this.userRol == 'bartender'">
    <h2 class="titulo-lista" style="margin-top: 17rem;">No hay bebidas para preparar</h2>
  </div>
  <div *ngIf="!this.tieneProductosEnPreparacion() && this.userRol == 'cocinero'">
    <h2 class="titulo-lista" style="margin-top: 17rem;">No hay comidas para preparar</h2>
  </div>

  <!-- Spinner de carga -->
  <app-spinner [isLoading]="isLoading"></app-spinner>
</ion-content>
