<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Comentarios de clientes</ion-title>
    <ion-buttons slot="start">
      <ion-icon
        class="icon"
        name="arrow-back-circle-outline"
        (click)="goBack()"
        style="color: #54494b; width: 40px; height: 40px;"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @for (item of comentarios; track $index) {
    <div class="comment-card">
      <div class="comment-header">
        <ion-icon class="comment-icon" name="person-sharp"></ion-icon>
        <p class="comment-message">{{ item.msj }}</p>
      </div>
      <span class="comment-date">{{ item.time | date: 'd/M/yy HH:mm'  }}hs</span>
    </div>
  }
</ion-content>