<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Comentarios de clientes</ion-title>
    <ion-buttons slot="start">
      <ion-icon
        class="icon"
        name="arrow-back-circle-outline"
        (click)="goBack()"
        style="color: #54494b; width: 40px; height: 40px;"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @for (item of comentarios; track $index) {
  <p><ion-icon name="person-sharp"></ion-icon>&nbsp;&nbsp;{{item}}</p>
  }
</ion-content>
