.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px; /* Espacio entre botones */
  padding: 10px; /* Espacio alrededor del contenido */
}

div {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  gap: 10px;
  background: #e3d081;
  color: #000000;
}

.img {
  max-width: 80%; /* Ajusta el tamaño de la imagen para adaptarse */
  height: auto;
  margin-bottom: 10px; /* Espacio entre imagen y texto */
}

span {
  font-size: 3em; /* Tamaño de texto */
}

.ion-text-center {
  font-weight: bold;
  font-size: 32px;
  color: #54494b; 
}

@media (max-height: 640px) {
  span {
    font-size: 2.6em;
  }
}
