<!-- Botón flotante del menú en la parte superior izquierda -->
<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button color="dark">
    <img src="/assets/menu.png" />
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button style="border: 1px solid #000; border-radius: 50%">
        <img src="/assets/chat.png" />
      </ion-fab-button>
    <ion-fab-button (click)="this.userService.logout()" style="border: 1px solid #000; border-radius: 50%">
      <img src="/assets/exit.png" />
    </ion-fab-button>    
  </ion-fab-list>
</ion-fab>

<ion-content>
  <!-- Contenedor de la lista de pedidos -->
  <div class="pedidos-container" *ngIf="listaPedidos">
    <h2 class="titulo-lista">LISTA DE PEDIDOS</h2>
    <!-- Iterar sobre cada pedido en la lista -->
    <div *ngFor="let item of listaPedidos">
      <ion-card class="tarjeta-pedido" *ngIf="item.estado == 'pendiente'">
        <!-- Información del pedido -->
        <div class="pedido-detalles">
          <div class="pedido-info">
            <p class="mesa">Mesa: {{item.nroMesa}}</p>
            <table class="pedido-tabla">
              <tr>
                <th>PRODUCTO</th>
                <th>PRECIO</th>
              </tr>
              <tr *ngFor="let producto of item.listaProductos">
                <td>{{producto.nombre}}</td>
                <td>{{producto.precio}}</td>
              </tr>
            </table>
            <p class="total">TOTAL: ${{item.monto}}</p>
          </div>
          <!-- Botones de aprobar y rechazar -->
          <div class="botones">
            <button (click)="approveOrder(item)" class="boton-aprobar">Aprobar</button>
            <button (click)="rejectOrder(item)" class="boton-rechazar">Rechazar</button>
          </div>
        </div>
      </ion-card>
    </div>
  </div>

  <!-- Spinner de carga -->
  <app-spinner [isLoading]="isLoading"></app-spinner>
</ion-content>
