ion-button{
    --background: #e3d081;
    --color: #1b1b1a;
    font-weight: 800;
    font-size: 14px;
    --border-radius: 20px !important;
    --border-color: #989591;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}

.content{
    margin-top: 80px;
    height: 100%;
    width: 100%;
}

.button-chat{
    width: 100%;
    display: flex;
    justify-content: center;
}

ion-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}