<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button color="dark">
      <img src="/assets/menu.png"/>
  </ion-fab-button>
  <ion-fab-list side="bottom">

      <ion-fab-button (click)="this.userService.logout()" style="border: 1px solid #000; border-radius: 50%">
          <img src="/assets/exit.png"/>
      </ion-fab-button>
      
  </ion-fab-list>
</ion-fab>

<body>
    <div class="content">
        <div class="button-chat">
            <ion-button (click)="goChat()"><ion-icon name="chatbubbles-outline"></ion-icon> Chat de las mesas  </ion-button>
        </div>
        
    </div>

</body>