<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title class="ion-text-center">Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button color="dark">
    <img src="/assets/menu.png" />
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button
      (click)="this.userService.logout()"
      style="border: 1px solid #000; border-radius: 50%"
    >
      <img src="/assets/exit.png" />
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content>
  @if(this.userService.nroMesa){
  <br />
  <div class="content">
    <div class="button-chat">
      <ion-button class="btn-chat" (click)="goChat()"
        ><ion-icon name="chatbubble-Outline"></ion-icon> Consulta al mozo
      </ion-button>
    </div>
  </div>
  }

  <main class="container">
    @if (this.flagMesa) {
    <div class="mesa" (click)="scan()">
      <span>VINCULAR CON LA MESA</span>
      <ion-text [color]="msjColor">{{msj | uppercase}}</ion-text>
      <img src="assets/qr.png" alt="mesa" class="img" />
    </div>
    } @else {
    <div class="mesa" (click)="pedirMesa()">
      <span>PEDIR UNA MESA</span>
      <img src="assets/mesa.png" alt="mesa" class="img" />
    </div>
    } @if(pedido && pedido.estado === 'en entrega') {
    <div class="grafico">
      <span>CONFIRMAR RECEPCIÓN DEL PEDIDO</span>
      <img src="assets/recido.png" alt="mesa" class="img" />
    </div>
    } @else {
    <div class="grafico" (click)="verEncuestas()">
      <span>VER ENCUESTAS</span>
      <img src="assets/grafico.png" alt="mesa" class="img" />
    </div>
    }
  </main>
</ion-content>
