<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Menú cliente</ion-title>
  </ion-toolbar>
</ion-header>

<main class="container">
  @if (!this.flagMesa) {
  <div class="mesa" (click)="scan()">
    <span>VINCULAR CON LA MESA</span>
    <ion-text [color]="msjColor">{{msj}}</ion-text>
    <img src="assets/qr.png" alt="mesa" />
  </div>
  } @else {
  <div class="mesa" (click)="pedirMesa()">
    <span>PEDIR UNA MESA</span>
    <img src="assets/mesa.png" alt="mesa" />
  </div>
  }

  <div class="grafico" (click)="verEncuestas()">
    <span>VER ENCUESTAS</span>
    <img src="assets/grafico.png" alt="mesa" />
  </div>
</main>
